.page-header
  = link_to recipes_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_recipe_path(@recipe), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h2= @recipe.name

%p
  Author:
  = link_to @recipe.user.name, @recipe.user
%p= image_tag @recipe.image_url
%p= @recipe.description

%h3 Comments
- for comment in @recipe.comments
  .well
    %p
      = link_to comment.user.name, comment.user
      = time_ago_in_words(comment.updated_at)+ " ago"

    %p= comment.content

- current_user.try do |user|
  = simple_form_for @recipe.comments.build(user:user) do |f|
    = f.error_notification
    = f.input :recipe_id, as: :hidden
    = f.input :user_id, as: :hidden
    = f.input :content, label:'New Comment'
    = f.submit 'Add Comment', class:'btn btn-primary'
