.page-header
  = link_to users_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_user_path(@user), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show user

- if current_user && current_user != @user
  - if current_user.friends.include?(@user)
    = link_to 'Remove friend', current_user.friendships.find_by(friend_id:@user.id), method: :delete
  - else
    = link_to 'Add friend', friendships_path(friend_id:@user.id), method: :post

%dl.dl-horizontal
  %dt Name:
  %dd= @user.name
  %dt Password digest:
  %dd= @user.password_digest
